@font-face{
    font-family:'fontello';
    src:url('../fonts/fontello.eot');
    src:url('../fonts/fontello.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fontello.woff') format('woff'),
        url('../fonts/fontello.ttf') format('truetype'),
        url('../fonts/fontello.svg#fontello') format('svg');
    font-weight:normal;
    font-style:normal;
}

.destaque{
	color: #e91e63 !important;
}
.css{
	color: #1673B6 !important;
}
h1.css{
	font-size: 4em !important;
}
.eu{
	width: 200px;
}
.eu + span{
	width: 100%;
	float: left;
}
.reveal code:focus{
		outline: none;
}
.reveal pre{
	background-color: #3F3F3F;
}
.red{
	color: #f44336;
}

.element{
	color: #A5006E;
}
.pseudo{
	color: #9C26AC;
}
.keys{
	color: #DDD;
}
.propertie{
	color: #C3C12A;
}
.value{
	color: #007D70;
}
.coomment{
	color: #666;
}
.queries{
	text-align: center;
}
#framework li{
	text-align: center;
	list-style: none;
}
.contacts{
	margin-top: 30px;
}